.root {
  width: 100%;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;

  fill: var(--color-light-100);
}

.leftIcon {
  left: 12px;
  fill: var(--color-dark-100);
}

label.leftIcon {
  cursor: text;
}

.rightIcon {
  right: 10px;
  background-color: transparent;
  border: none;
}

.input {
  width: 100%;
  padding: 6px 12px;

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  caret-color: var(--color-light-300);

  &::placeholder {
    color: var(--color-dark-100);
  }

  &[type='search'] {
    padding-left: 41px;
  }

  &[type='password'] {
    padding-right: 41px;
  }

  &:hover {
    background-color: var(--color-dark-700);
    border-color: var(--color-dark-100);
  }

  &:active {
    border-color: var(--color-light-100);
    outline: none;

    &::placeholder {
      color: var(--color-light-100);
    }

    + .leftIcon {
      fill: var(--color-light-100);
    }
  }

  &:disabled {
    color: var(--color-dark-300);
    border-color: var(--color-dark-300);

    &::placeholder {
      color: var(--color-dark-300);
    }
  }

  &:focus-visible {
    border-color: transparent;
    outline: var(--color-info-700) solid 2px;

    &:hover {
      border-color: transparent;
      outline-color: var(--color-dark-100);
    }
  }
}

.error {
  border-color: var(--color-danger-300);

  &::placeholder {
    color: var(--color-danger-300);
  }

  svg {
    fill: var(--color-danger-300);
  }
}
