.button {
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding: 6px 28px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.7143;
  color: var(--color-light-100);
  text-decoration: none;

  border-radius: 4px;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  .icon {
    fill: var(--color-light-100);
  }

  &:disabled {
    .icon {
      fill: var(--color-light-900);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }
}

.primary {
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
  }
}

.secondary {
  background-color: var(--color-dark-300);
  box-shadow: 0 4px 4px 0 rgb(77 86 96 / 13%);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-500);
  }

  &:disabled {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
  }
}

.outlined {
  padding-top: 8px;
  padding-bottom: 8px;

  color: var(--color-accent-500);

  background-color: transparent;
  border: 1px solid var(--color-accent-500, #8c61ff);
  border-radius: 4px;

  &:hover {
    background-color: var(--color-dark-500);
  }

  &:active {
    background-color: var(--color-accent-900);
  }

  &:disabled {
    color: var(--color-accent-900);
    border-color: var(--color-accent-900);
  }
}

.link {
  padding: 6px 12px;

  font-size: 16px;
  line-height: 1.5;
  color: var(--color-accent-500);

  background-color: transparent;
  border-radius: 130px;

  &:hover {
    color: var(--color-accent-300);
  }

  &:active {
    color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-900);
    border-color: var(--color-accent-900);
  }
}

.fullWidth {
  width: 100%;
}

.disabled {
  cursor: initial;
}

.left {
  order: 0;
}

.right {
  order: 1;
}

.withOutChildren {
  padding: 4px;
}
